body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
     margin:0;padding:0
 }
body{
    background-img: url(../img/img_bd/06.jpg);
    animation:run 30s linear infinite alternate;
    opacity: 0.9;
    zoom:0.9;
}
@keyframes run {
    from{
        background-image: url(../img/img_bd/06.jpg);
    }
    to{
        background-image: url(../img/img_bd/07.jpg);
    }
}
.top{
    width:100%;
    height: 100px;
    background-color: #fdf6dd;
    display: inline-block;

}
.top .head_portrait img{
    width: 70px;
    height: 70px;
    position: relative;
    top:20px;
    left:200px;
float:left;
}
.top ul{
    width: 500px;
    height: 100px;
    margin-left: 250px;

}
.top li{
    width: 120px;
    height: 100%;
    margin-left:29px;
    float: left;
    line-height: 100px;

    /*background-color:blueviolet;*/
    list-style: none;
    text-align: center;
}
.top li a{
    font-size:25px;
    text-decoration: none;
    color: #444444;

    line-height: 60px;
    font-family: "Adobe ¿¬Ìå Std R",serif;
}
/*.top a{*/
/*    width: 120px;*/
/*    height: 100%;*/
/*    margin-left:29px;*/

/*    !*background-color:blueviolet;*!*/
/*    list-style: none;*/
/*    text-align: center;*/
/*}*/
.top a:hover{
    color:indianred;
}
.top p{
    display: inline-block;
    font-size:15px;
    line-height: 100px;
    text-shadow: 1px 1px 1px ;
    position: absolute;
    right: 100px;
    top: 0;
    color: #444444;
    font-family:"Rage Italic",serif;
    animation:title 6s linear infinite alternate;
}
.top p span{
    color: #6a9bcd;
}
@keyframes title {
    from{
        font-size:15px;
        color:#444444;
    }
    to{
        font-size:35px;
        color: #6a9bcd;
    }

     }
.content .con_left .browse1{
    width: 700px;
    height: 300px;
    margin-left:230px;

}
.content .con_left  .head_portrait{
    width: 60px;
    height: 60px;
    position: relative;
    top:20px;
    left:50px;
    float:left;
}
.content .con_left  .head_portrait p{
    height: 20px;
    width: 110px;
    color:  #a7afb6;
    font-size: 18px;
}
.content .con_left  .bro_content{
    width: 550px;
    height:280px ;
    background-color: #fdfdfe;
    float:right;
    margin-top:20px;
}
.content .con_left  .bro_content_username{
    font-size:24px;
    color: #0a0e15;
    font-family: "Adobe Naskh Medium",serif;
}
.content .con_left  .bro_content_time{
    font-size:15px;
    color: #a7afb6;
    font-family: "Adobe Naskh Medium",serif;
}
.content .con_left  .bro_content_article{
    font-size:18px;
    color: #444444;
    font-family: "Adobe Naskh Medium",serif;
    width: 550px;
    height: 100px;
    /*background-color:bisque;*/
}
.content .con_left  a{
    display: inline-block;
    width: 30px;
    height: 30px;
    float:right;
    background-image: url(../img/img_bd/16.jpg);
    background-size:100%;
}
.content .con_left  .bro_content_comment{
    width: 550px;
    height: 60px;
    /*background-color:blueviolet;*/
    padding:10px;
    box-sizing: border-box;

}
.content .con_left .bro_content_comment_left{
    width: 450px;
    height: 38px;
    /*background-color:rosybrown;*/
    float:left;
}
.content .con_left  .bro_content_comment_left textarea{
    width: 450px;
    height: 38px;
    font-size:18px;
}
.content .con_left .bro_content_comment_right{
    width:60px;
    height: 38px;
    /*background-color:rosybrown;*/
    float:right;
    /*border:1px solid #cdcdce;*/
}
.content .con_left .bro_content_comment_right button{
    width: 100%;
    height: 100%;
    font-size:15px;
    background-color: #82ad01;
    color: #fdf6dd;
    border:none;
}
.content  .bro_content_comment_submit{
    width: 550px;
    height:90px;
    background-color: #fdfdfe;
    position:relative;
    left:380px;



}
.content .con_left .bro_content_comment_submit_left{
    width: 40px;
    height: 40px;
    float:left;
}
.content .con_left .bro_content_comment_submit_right{
    width:500px;
    height: 70px;
    float:right;
}
.content .con_left .bro_content_comment_submit_right .right_username{
    width: 130px;
    height: 20px;
    /*background-color:yellowgreen;*/
    font-size:17px;
    float:left;

}
.content .con_left .bro_content_comment_submit_right .right_time{
    width: 70px;
    height: 20px;
    font-size:12px;
    line-height: 20px;
    /*background-color:yellow;*/
    float:left;
    color: #d8d8d8;
}
.content .con_left .bro_content_comment_submit_right .right_article{
    width: 500px;
    height: 50px;
    font-size:15px;
    /*background-color:#bb785e;*/
    float:left; color: #444444;
}
 .head_portrait img{
    width: 100%;
    height: 100%;
    border:2px solid rosybrown;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}
.content img{
    width: 100%;
    height: 100%;
}
.content .con_left  .img{
    width: 100%;
    height: 135px;
    /*background-color:indianred;*/

}
.content .con_left .img li{
    width: 136px;
    height: 135px;
    float:left;
    list-style: none;
}